# Lists

Create a List of at least 4 items

In [68]:
vigi_list = ['Broccoli','Potato', 'Turnip', 'Onion', 'Cauliflower']

Add 3 new items to your list and remove 1 item from your original list

In [69]:
additions = ['Radish', 'Cabbage','Carrot']
vigi_list.extend(additions)
print(vigi_list)
vigi_list.remove("Onion")
print(vigi_list)

['Broccoli', 'Turnip', 'Onion', 'Cauliflower', 'Radish', 'Cabbage', 'Carrot']
['Broccoli', 'Turnip', 'Cauliflower', 'Radish', 'Cabbage', 'Carrot']

Create a loop for your list

In [70]:
for items in vigi_list:
    print(items)

Broccoli
Turnip
Cauliflower
Radish
Cabbage
Carrot

Make a copy of your list and then sort the values

In [71]:
copy_vigi_list = vigi_list.copy()
print(copy_vigi_list)
vigi_list.sort()
print(vigi_list)

['Broccoli', 'Turnip', 'Cauliflower', 'Radish', 'Cabbage', 'Carrot']
['Broccoli', 'Cabbage', 'Carrot', 'Cauliflower', 'Radish', 'Turnip']

Add 2 of the same items from your list and then count the number of times that item occurs in your list

In [72]:
vigi_list.append("Broccoli")
vigi_list.append("Cabbage")

In [73]:
print(vigi_list)

['Broccoli', 'Cabbage', 'Carrot', 'Cauliflower', 'Radish', 'Turnip', 'Broccoli', 'Cabbage']

In [75]:
print(vigi_list.count("Broccoli"))
print(vigi_list.count("Cabbage"))

2
2

Determine the final length of your list

In [76]:
print(len(vigi_list))

8

# Tuples

Create a tuple with at least 5 values

In [77]:
new_tuple = ("iphone", "laptop", "ipad","ipod","headphone")

Loop through your tuple

In [78]:
for items in new_tuple:
    print(items)

iphone
laptop
ipad
ipod
headphone

Create a program to determine whether or not the item exists in your tuple. If the item does not exist, the output should return the message, "item is not found, please try again"

In [82]:
items_in_tuple = "mouse"
if not items_in_tuple in new_tuple:
    print(items_in_tuple, "is in not found, please try again")

mouse is in not found, please try again

Return the 3rd value in your tuple

In [88]:
print(new_tuple[3])

ipod

# Sets

Create a set that contains 5 values and then confirm that your set has 5 items (hint length method)

In [91]:
first_set = {"tree", "river", "waterfall", "ocean", "mountain"}
print(len(first_set))

5

Add 2 more values to your set

In [94]:
first_set.update(["desert", "jungle"])
print(first_set)

{'jungle', 'tree', 'desert', 'mountain', 'ocean', 'waterfall', 'river'}

Using the pop method, remove 1 value from your set

In [96]:
first_set.pop()
print(first_set)

{'tree', 'desert', 'mountain', 'ocean', 'waterfall', 'river'}

I have created a set that details all of the places that I want to visit in my life called "bucketSet". I have also created a set that lists the places that I have visited, "travelSet". Create an output that lists the locations that I still would like to visit.

In [97]:
bucketSet = {"Hawaii", "Jamaica", "Germany", "Ireland", "Scotland", "Alaska", "St Thomas", "Australia"}
travelSet = {"Maryland","Hawaii", "Germany", "Jamaica", "Florida", "California", "Georgia", "Nevada"}

In [98]:
locations_to_visit = bucketSet.difference(travelSet)
print(locations_to_visit)

{'Australia', 'St Thomas', 'Ireland', 'Scotland', 'Alaska'}

# Dictionaries

You are teaching a class with 6 students and need to assign a final grade for each student for the semester. Create a program that captures their first name, last name, semester year and final grade.

In [38]:
students = []

for i in range(6):
    fname = input("First Name: ")
    lname = input("Last Name: ")
    SemesterYear = int(input("Semester Year: "))
    fGrade = round(float(input("Final Grade: ")))
    
    student = {
        'First_Name': fname,
        'Last_Name': lname,
        'Semester_Year': SemesterYear,
        'Final_Grade': fGrade
    }
    
    students.append(student)

for i, student in enumerate(students, 1):
    print(f"Student {i}: {student}")

First Name: John
Last Name: Cena
Semester Year: 2023
Final Grade: 90
First Name: Bob
Last Name: Marly
Semester Year: 2021
Final Grade: 91
First Name: Mike
Last Name: Chris
Semester Year: 2020
Final Grade: 83
First Name: Frank
Last Name: Bell
Semester Year: 2019
Final Grade: 92
First Name: James
Last Name: Snow
Semester Year: 2018
Final Grade: 72
First Name: Daniel
Last Name: Nestli
Semester Year: 2013
Final Grade: 85
Student 1: {'First_Name': 'John', 'Last_Name': 'Cena', 'Semester_Year': 2023, 'Final_Grade': 90}
Student 2: {'First_Name': 'Bob', 'Last_Name': 'Marly', 'Semester_Year': 2021, 'Final_Grade': 91}
Student 3: {'First_Name': 'Mike', 'Last_Name': 'Chris', 'Semester_Year': 2020, 'Final_Grade': 83}
Student 4: {'First_Name': 'Frank', 'Last_Name': 'Bell', 'Semester_Year': 2019, 'Final_Grade': 92}
Student 5: {'First_Name': 'James', 'Last_Name': 'Snow', 'Semester_Year': 2018, 'Final_Grade': 72}
Student 6: {'First_Name': 'Daniel', 'Last_Name': 'Nestli', 'Semester_Year': 2013, 'Final_Grade': 85}

Create a loop that provides an output of students last name and final grade

In [41]:
for i in students:
    print(f"last_name: {i['Last_Name']}, final_grade: {i['Final_Grade']}")

last_name: Cena, final_grade: 90
last_name: Marly, final_grade: 91
last_name: Chris, final_grade: 83
last_name: Bell, final_grade: 92
last_name: Snow, final_grade: 72
last_name: Nestli, final_grade: 85

Challenge Question: Create a program that returns a message for each student that received a final grade of A that says, "Congratulations (Persons first name), you have received a final grade of A and have made the honor roll"

In [46]:
key1 = 'First_Name'
key2 = 'Final_Grade'

for value in students:
    if value[key2] >= 90:
        print("Congratulations", str(value[key1]), "you have received a final grade of A and have made the honor roll.")

Congratulations John you have received a final grade of A and have made the honor roll.
Congratulations Bob you have received a final grade of A and have made the honor roll.
Congratulations Frank you have received a final grade of A and have made the honor roll.